body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.subjectTitle {
  cursor: pointer;
}

.downloadAppunti {
  background: #ac005d;
  padding: 10px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}
