html {
  overflow: hidden;
}

body {
  margin: 90px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div {
  box-sizing: border-box;
}

.subjectTitle {
  cursor: pointer;
}

.downloadAppunti,
.print {
  background: #ac005d;
  padding: 10px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin: auto;
  width: max-content;
  cursor: pointer;
}

.downloadAppunti {
  margin-left: calc((100% - 335px)/2);
  margin-right: 5px;
}
.print {
  margin-right: calc((100% - 335px)/2);
  margin-left: 5px;
}

.notesContainer {
  height: calc(100vh - 94px);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(30%, min-content) auto;
  grid-template-rows: 70px auto;
  grid-column-gap: 10px;
  grid-template-areas: "sidebarDownload main" "sidebarList main";
}

@media screen and (orientation: portrait), screen and (max-width: 600px) {
  .notesContainer {
    grid-template-columns: auto;
    grid-template-areas: "sidebarDownload" "main";
  }

  .sidebarList {
    display: none;
  }
  .notesMain {
    padding: 15px !important;
  }
}

@supports (-ms-ime-align: auto) {
  @media screen and (max-width: 800px) {
    .notesMain {
      display: block;
      min-height: calc(100vh - 90px);
      margin-top: 150px;
    }
    .sidebarDownload {
      display: none;
    }
  }
}

@media print {
  .notesContainer {
    display: inline;
  }

  body {
    margin: 0;
  }

  .notesMain {
    overflow: visible !important;
    padding: 0;
    display: inline;
  }

  .sidebarList,
  .sidebarDownload,
  .header {
    display: none;
  }
}

.notesMain {
  grid-area: main;
  overflow: auto;
  margin: 0;
  padding: 15px calc((100% - 800px)/2) 35px calc((100% - 800px)/2);
}
.sidebarList {
  grid-area: sidebarList;
  overflow: auto;
  margin: 0;
  padding: 15px;
}
.sidebarList ul,
.sidebarList li {
  list-style-type: none !important;
}
.sidebarDownload {
  height: 70px;
  grid-area: sidebarDownload;
  padding: 10px;
}

.indexContainer {
  height: calc(100vh - 90px);
  overflow: auto;
  padding-left: calc((100vw - 960px)/2);
}

.notesLink {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #ac005d;
  padding-left: 38px;
  margin-bottom: 15px;
}

.header {
  background: #f85959;
  position: fixed;
  top: 0;
  width: 100vw;
}

.sidebar ul,
.sidebar li {
  list-style: none;
}

.navigationLinks {
  text-decoration: none;
  color: #ac005d;
}

p.draft {
  width: 100%;
  background: #ac005d;
  margin: 15px 0;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
